   .subcribe-button {
        background-color: rgb(204, 0, 0);
        color: white;
        border: none;
        padding: 10px 16px;
        transition: opacity 0.15s;
    }
     .subcribe-button:hover{
        opacity: 0.7;
    }

    .subcribe-button:active{
        opacity: 0.5;
    }
    .join-button{
        background-color: white;
        color: rgb(6, 95, 212);
        border: 1px solid rgb(6, 95, 212);
        padding: 9px 15px;
        cursor: pointer;
        transition: background-color 0.15s, color 0.15s;
    }
    .join-button:hover{
        background-color: rgb(86, 86, 212);
        color: white;
    }
    .join-button:active{
        opacity: 0.7;
    }
    .tweet-button{
        font-size: 15px;
        background-color: rgb(29, 155, 240);
        color: white;
        padding: 7px 16px;
        border: none;
        font-weight: bold;
        border-radius: 50px;
        line-height: 22.5px;
        cursor: pointer;
        transition: box-shadow 0.15s;
    }

    .tweet-button:hover{
        /* shadow */
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }
   