.header{
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228)
}
.left-section{
    
    width: 200px;
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 20px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo{
    height: 20px;
}

.middle-section{
    
    flex: 1;
    margin-left: 20x;
    margin-right: 20px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 201, 201);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}
.search-button{
    height: 40px;
    width: 60px;
    background-color: rgb(219, 219, 219);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 201, 201);
    margin-left: -1px;
    margin-right: 10px;
}

.search-icon{
    height: 25px;
    margin-top: 4px;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 239, 239);
}
.voice-search-icon{
    height: 24px;
    margin-top: 4px;
    

}

.right-section{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upload-icon{
    height: 24px;
}

.youtube-app-icon{
    height: 24px;
}

.notification-icon{
    height: 24px;
}
.notification-icon-container{
    position: relative;
}
.notification-count{
    position: absolute;
    background-color: rgb(201, 0, 0);
    color: white;
    top: -2px;
    right: -5px;
    font-family: Roboto, Arail;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 10px;
}

.current-user-picture{
    height: 32px;
    margin-right: 10px;
}

body{
    margin: 0;
    padding-top: 60px;
}